* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

.container {
    max-width: 1100px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h1 {
    color: #333;
}

#darkModeBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.form-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-box input,
.search-box input {
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
}

.form-box input {
    flex: 1;
}

#addBtn {
    padding: 12px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-box {
    margin-bottom: 20px;
}

.search-box input {
    width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

.edit-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.dark {
    background-color: #222;
    color: white;
}

.dark .container {
    background-color: #333;
}

.dark .header h1 {
    color: white;
}

.dark th,
.dark td {
    border-color: #555;
}